$lineheight : 1.6;
$gold : rgb(193,159,93);
$red:rgb(213,153,153);
$gold_darker : rgb(140,116,67);
$font :'Nothing You Could Do', sans-serif;
$margin : 12.8028125%;
$fontreg : 'Open Sans', arial, sans-serif;
$fontsemib : 'Open Sans SemiB', arial, sans-serif;
$fontlight : 'Open Sans Light', arial, sans-serif;
$fontextrab : 'Open Sans ExtraB', arial, sans-serif;